.article-heading * {
	--flow-space: var(--space-xs);
}

.section-image,
.card-image {
	aspect-ratio: 1;
	width: var(--step-7);
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* .article-heading[data-variant="with-illustration"] {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.5em;
}

.article-heading[data-variant="with-illustration"] h2 {
	align-self: flex-end;
} */

.article-heading h2 {
	position: relative;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	color: var(--heading-color);
	text-align: center;
}

.article-heading h2:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1ex;
	background-color: var(--card-bg);
	margin-top: -1ex;
	z-index: -1;
}

.article-heading + * {
	/* --flow-space: var(--section-gap); */
	--flow-space: var(--space-l-xl);
}

.card {
	padding: var(--card-padding);
	background-color: var(--card-bg);
	border-radius: var(--border-radius);
	box-shadow: rgba(37, 38, 39, 0.1) 0px 1px 2px -1px;
}

.card[data-variant="browser"] {
	--circle-width: var(--space-xs);
	--browser-bar-height: calc((2 * var(--card-padding)) + var(--circle-width));
	position: relative;
	padding-top: calc(var(--browser-bar-height) + var(--card-padding));
}

.card[data-variant="browser"]:before,
.card[data-variant="browser"]:after {
	content: "";
	position: absolute;
}

.card[data-variant="browser"]:before {
	top: 0;
	left: 0;
	width: 100%;
	height: var(--browser-bar-height);
	background: hsl(170deg 40% 79%);
	border-bottom: var(--card-border-width) solid var(--heading-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	opacity: 0.33;
}

.card[data-variant="browser"]:after {
	top: var(--card-padding);
	left: var(--card-padding);
	width: var(--circle-width);
	height: var(--circle-width);
	background-color: hsl(3deg 99% 67%);
	border-radius: 50%;
	box-shadow: hsl(41deg 99% 59%) var(--card-padding) 0,
		#2bc840 calc(2 * var(--card-padding)) 0;
	filter: drop-shadow(1px 2px 0 var(--heading-color));
}
