/* #contact-us {
	--card-bg: var(--bg);
} */

#contact-us .card {
	--stack-gap: 0.25ex;
}

#contact-us .card dd {
	--stack-gap: var(--space-m-l);
	--stack-vertical-alignment: space-between;
	height: 100%;
}

#contact-us .card dt {
	--cluster-gap: 0.5em;
}

.contact-icon {
	width: var(--step-1);
	height: calc(var(--step-1) * var(--line-height));
	/* height: calc(var(--step-1) / var(--line-height)); */
}

.contact-icon svg {
	height: 100%;
	width: auto;
}
