/* .features-list li,
.programs-list dd {
	--cluster-gap: 0.5em;
	--cluster-vertical-alignment: flex-start;
	flex-wrap: nowrap;
} */

:where(.features-list, .programs-list, .how-list) :where(li, dd) {
	--cluster-gap: 0.5em;
	--cluster-vertical-alignment: flex-start;
	flex-wrap: nowrap;
}

.features-list li:before,
.programs-list dd:before,
.how-list li::before {
	/* content: "●"; */
	content: "✦";
	alt: "";
	color: var(--heading-color);
	font-size: var(--step--1);
	line-height: 1;
	margin-top: 1ex;
}

@media (max-width: 24.6875em) {
	#intro h1 {
		font-size: calc(var(--space-l-xl) * 0.94);
	}
}

@media (min-width: 34em) {
	.why-list,
	.videos-list {
		--columns: 2;
	}
}

@media (min-width: 36em) {
	.programs-list,
	.contact-list {
		--columns: 2;
	}
}

@media (min-width: 48em) {
	.intro-list,
	.features-list,
	.how-list {
		--columns: 2;
	}

	.why-list {
		--columns: 3;
	}
}

@media (min-width: 60em) {
	.contact-list {
		--columns: 3;
	}
}

@media (min-width: 68em) {
	.why-list,
	.videos-list {
		--columns: 4;
	}
}

@media (min-width: 78em) {
	.programs-list {
		--columns: 4;
	}
}
