@font-face {
	font-family: "fallback";
	size-adjust: 102%;
	src: local("Arial");
}

@font-face {
	font-family: "Figtree";
	src: url("/fonts/figtree-subset.woff2") format("woff2-variations");
	font-weight: 300 900;
	font-display: swap;
}

/* @font-face {
	font-family: "Manrope";
	src: url("/fonts/manrope-subset.woff2") format("woff2-variations");
	font-weight: 200 800;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/nunito-subset.woff2") format("woff2-variations");
	font-weight: 200 1000;
	font-display: swap;
}


/* 
@font-face {
	font-family: "Lexend";
	src: url("/fonts/lexend-subset.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-display: swap;
} */
