:root {
	--max-width: 84rem;
	/* --gutter: var(--space-xs-s); */
	--gutter: var(--space-s-m);
	--section-gap: var(--space-xl-2xl);
	--header-padding-block: var(--space-2xs);
	--logo-width: var(--step-7);
	/* dividing by 4.5914669784 gives me the logo height */
	--logo-height: calc(var(--logo-width) / 4.5914669784);
	--min-block-size: 100vh;
	--btn-padding-block: calc(0.5 * var(--step--1));
	--btn-padding-inline: calc(1 * var(--step--1));
	--card-padding: var(--space-s);
	--card-border-width: 1px;
	--article-border-width: var(--space-3xs-2xs);
	--btn-border-width: var(--card-border-width);
	--border-radius: var(--step--3);
	--btn-border-radius: var(--step--4);
}

:root {
	--wght: "wght" 450;
	--font-plain: "Figtree", sans-serif;
	--font-special: "Figtree", sans-serif;
	--letter-spacing--1: -0.015em;
	--letter-spacing--1: -0.03em;
	--letter-spacing-1: 0.015em;
	--letter-spacing-2: 0.03em;
	--line-height: 1.5;
}

:root {
	--bg-lightness: 95%;

	--white: hsl(181deg 0% 100%);
	--black: hsl(181deg 3% 12%);

	--green: hsl(170deg 89% 27%);
	--sea-green: hsl(181deg 89% 33%);
	--blue: hsl(210deg 100% 50%);
	--purple: hsl(237deg 53% 50%);
	--indigo: hsl(256deg 100% 58%);
	--plum: hsl(303deg 77% 31%);
	--pink: hsl(353deg 91% 60%);
	--red: hsl(10deg 100% 55%);
	--orange: hsl(21deg 100% 48%);

	--green-bg: hsl(170deg 88% var(--bg-lightness));
	--sea-green-bg: hsl(181deg 88% var(--bg-lightness));
	--blue-bg: hsl(210deg 88% var(--bg-lightness));
	--purple-bg: hsl(237deg 88% var(--bg-lightness));
	--indigo-bg: hsl(256deg 88% var(--bg-lightness));
	--plum-bg: hsl(303deg 88% var(--bg-lightness));
	--pink-bg: hsl(353deg 88% var(--bg-lightness));
	--red-bg: hsl(10deg 88% var(--bg-lightness));
	--orange-bg: hsl(21deg 88% var(--bg-lightness));
}

:root {
	--text: var(--black);
	--bg: var(--white);
	--heading-color: var(--green);
	--card-bg: var(--green-bg);
	--btn-color: var(--bg);
	--btn-bg: var(--green);
	--btn-border-color: transparent;
}

@supports (min-block-size: 100svh) {
	:root {
		--min-block-size: 100svh;
	}
}

* {
	font-variation-settings: var(--wght);
}

body {
	--flow-space: var(--section-gap);
	background-color: var(--bg);
	font-family: var(--font-plain);
	font-size: var(--step-0);
	line-height: var(--line-height);
	color: var(--text);

	background-repeat: repeat;
	background-image: var(--grid-pattern);
	background-position: center;
	background-size: var(--pattern-size);
}

main {
	--main-flow-space: calc(var(--section-gap) - var(--logo-height));
	--flow-space: var(--main-flow-space);
	--stack-gap: var(--section-gap);
	margin-bottom: var(--section-gap);
}

:where(main *) {
	--flow-space: 1em;
}

h1,
h2,
h3 {
	--wght: "wght" 600;
	font-family: var(--font-special);
	text-transform: capitalize;
}

h1,
h2 {
	line-height: 1.15;
	letter-spacing: var(--letter-spacing--1);
}

h1 {
	font-size: var(--step-3);
	max-width: 20ch;
}

h2 {
	font-size: var(--step-2);
}

h3 {
	font-size: var(--step-1);
}

p {
	max-width: 42ch;
}

strong {
	--wght: "wght" 600;
}

a {
	--wght: "wght" 500;
	color: inherit;
	text-underline-offset: 0.15em;
}

a[href*="tel"] {
	font-feature-settings: "tnum";
}

.btn {
	--wght: "wght" 600;
	--btn-color: var(--bg);
	--btn-bg: var(--heading-color);
	position: relative;
	padding: var(--btn-padding-block) var(--btn-padding-inline);
	background-color: var(--btn-bg);
	border: var(--btn-border-width) solid var(--btn-border-color);
	border-radius: var(--btn-border-radius);
	color: var(--btn-color);
	font-size: var(--step-0);
	line-height: 1;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn[data-variant="outline"] {
	--btn-color: var(--heading-color);
	--btn-bg: none;
	--btn-border-color: var(--heading-color);
	text-shadow: unset;
}

abbr {
	text-underline-offset: 0.33em;
}

dt {
	--wght: "wght" 600;
	font-size: var(--step-1);
}

/* dt::after {
	content: ": ";
} */
