header {
	--cluster-gap: 0.2em;
	--flow-space: 0;
	--cluster-horizontal-alignment: space-between;
	/* position: fixed; */
	position: sticky;
	top: 0;
	width: 100%;
	padding-top: var(--header-padding-block);
	padding-bottom: var(--header-padding-block);
	z-index: 1;
	transition: all 400ms ease;
	background-image: linear-gradient(180deg, var(--bg), hsl(0deg 0% 0% / 0%));
}

html:not([data-scroll="0"]) header {
	background-color: var(--bg);
	/* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05); */
	box-shadow: 0 0.1333333333em 0.2em 0 rgb(0 0 0 / 2%);
}

a[aria-label="Code Squad Home"] {
	line-height: 0;
}

.logo {
	display: inline-block;
	width: var(--logo-width);
	height: auto;
}

header [href*="tel"] {
	margin-left: auto;
}
