<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "./reset.css" %}
  {% include "./a11y.css" %}
  {% include "./font-face.css" %}
  {% include "./fluid-type.css" %}
  {% include "./fluid-space.css" %}
  {% include "./svg-patterns.css" %}
  {% include "./global.css" %}
  {% include "./header.css" %}
  {% include "./footer.css" %}
  {% include "./article.css" %}
  {% include "./illustrations.css" %}
  {% include "./utilities.css" %}
  {% include "./intro.css" %}
  {% include "./who-are-we.css" %}
  {% include "./why-choose-us.css" %}
  {% include "./platform-features.css" %}
  {% include "./programs.css" %}
  {% include "./how-does-it-work.css" %}
  {% include "./testimonial.css" %}
  {% include "./videos.css" %}
  {% include "./contact-us.css" %}
  {% include "./exceptions.css" %}
{% endset %}

<style>{{ css | cssmin | safe }}</style>