{%- extends "layouts/base.html" -%}

{%- block content -%}
  {% include "partials/intro.html" %}
  {% include "partials/who-are-we.html" %}
  {% include "partials/why-choose-us.html" %}
  {% include "partials/features.html" %}
  {% include "partials/programs.html" %}
  {% include "partials/how-does-it-work.html" %}
  {% include "partials/testimonial.html" %}
  {% include "partials/videos.html" %}
  {% include "partials/contact-us.html" %}
  {{ content | safe }}
{%- endblock -%}

<!-- TODO: check the defer attribute on the scripts -->
{%- block bodyScripts -%}
  <script src="/scripts/lite-yt-embed.js" defer async></script>
  <script src="/scripts/scroll.js" defer async></script>
{%- endblock -%}
