{% set heading = contact.heading %}

{% set sectionUrl = "./src/images/" + contact.sectionImage.url %}
{% set sectionAlt = contact.sectionImage.alt %}
{% set sectionSizes = contact.sectionImage.sizes %}
{% set sectionLoading = contact.sectionImage.loading %}
{% set sectionClass = contact.sectionImage.class %}
{% set sectionPriority = contact.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2 data-type="animation">{{ heading }}</h2>
  </div>
  <dl class="contact-list grid">
    {% for item in contact.methods %}
      <div class="card shadow stack">
        <dt class="cluster">
          <span class="">{{ item.heading }}</span>
          <span class="contact-icon">
            {%- include item.icon -%}
          </span>
        </dt>
        <dd class="stack">
          <div class="step--1">
            {% for content in item.content %}
              <p>{{ content | safe }}</p>
            {% endfor %}
          </div>
          <a 
            class="btn" 
            data-variant="primary" 
            href={{ item.buttonUrl }}>
            {{ item.buttonText }}
          </a>
        </dd>
      </div>
    {% endfor %}
  </dl>
</article>