{% set heading = features.heading %}

{% set sectionUrl = "./src/images/" + features.sectionImage.url %}
{% set sectionAlt = features.sectionImage.alt %}
{% set sectionSizes = features.sectionImage.sizes %}
{% set sectionLoading = features.sectionImage.loading %}
{% set sectionClass = features.sectionImage.class %}
{% set sectionPriority = features.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2 data-type="animation">{{ heading }}</h2>
  </div>
  <h3 class="features-desc fade-in">{{ features.desc | addNbsp | safe }}</h3>
  <dl class="features-list grid">
    {% for item in features.items %}
      <div class="card flow fade-in">
        <dt>{{ item.heading }}</dt>
        {% for content in item.content %}
          <dd class="cluster"><p>{{ content | safe }}</p></dd>
        {% endfor %}
      </div>
    {% endfor %}
  </dl>
</article>