{% set heading = features.heading %}

{% set sectionUrl = "./src/images/" + features.sectionImage.url %}
{% set sectionAlt = features.sectionImage.alt %}
{% set sectionSizes = features.sectionImage.sizes %}
{% set sectionLoading = features.sectionImage.loading %}
{% set sectionClass = features.sectionImage.class %}
{% set sectionPriority = features.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2>{{ heading }}</h2>
    </div>
  </div>
  <!-- <p class="features-desc step--1">
    {{ features.desc | addNbsp | safe }}
  </p> -->
  <ul class="features-list card shadow flow disclosure-widget" id="features-list" role="list">
    {% for content in features.content %}
      <li class="cluster">
        <p>{{ content | safe }}</p>
      </li>
    {% endfor %}
  </ul>
  <button class="view-all" aria-expanded="false" aria-controls="features-list">
    View More <span class="vh">items in {{ heading }}</span>
  </button>
</article>