{% set heading = how.heading %}

{% set sectionUrl = "./src/images/" + how.sectionImage.url %}
{% set sectionAlt = how.sectionImage.alt %}
{% set sectionSizes = how.sectionImage.sizes %}
{% set sectionLoading = how.sectionImage.loading %}
{% set sectionClass = how.sectionImage.class %}
{% set sectionPriority = how.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2 data-type="animation">{{ heading }}</h2>
  </div>
  <div class="how-list grid">
    {% for item in how.content %}
      <div class="card flow fade-in">
        <h3>{{ item.heading }}</h3>
        <ul class="flow" role="list">
          {% for content in item.content %}
            <li class="cluster"><p>{{ content | safe }}</p></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</article>