<article class="stack wrapper" id="intro">
  <div class="intro-content card shadow stack" data-variant="browser">
    <h1>{{ title }}</h1>
    <div class="intro-cta cluster">
      <!-- TODO: add link to the login page -->
      <a class="btn" href="#" data-variant="primary">Log in</a>
      <a class="btn" href="#{{ about.heading | slugify }}" data-variant="outline">Know More</a>
    </div>
  </div>
  <a 
    class="codewfloppy step--1" 
    href={{ codeWfloppy.url }}>
    {{ codeWfloppy.content }}
  </a>
</article>