{% set heading = programs.heading %}

{% set sectionUrl = "./src/images/" + programs.sectionImage.url %}
{% set sectionAlt = programs.sectionImage.alt %}
{% set sectionSizes = programs.sectionImage.sizes %}
{% set sectionLoading = programs.sectionImage.loading %}
{% set sectionClass = programs.sectionImage.class %}
{% set sectionPriority = programs.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }} >
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2>{{ heading }}</h2>
    </div>
  </div>
  <dl class="programs-list grid">
    {% for item in programs.grades %}
      <div class="card shadow flow">
        <dt>{{ item.heading }}</dt>
        {% for content in item.content %}
          <dd class="cluster"><p>{{ content | safe }}</p></dd>
        {% endfor %}
      </div>
    {% endfor %}
  </dl>
</article>