{% set heading = testimonial.heading %}

{% set url = "./src/images/" + testimonial.imageUrl %}
{% set alt = testimonial.imageAlt %}
{% set sizes = testimonial.imageSizes %}
{% set loading = testimonial.imageLoading %}
{% set class = testimonial.imageClass %}
{% set priority = testimonial.imagePriority %}

{% set sectionUrl = "./src/images/" + testimonial.sectionImage.url %}
{% set sectionAlt = testimonial.sectionImage.alt %}
{% set sectionSizes = testimonial.sectionImage.sizes %}
{% set sectionLoading = testimonial.sectionImage.loading %}
{% set sectionClass = testimonial.sectionImage.class %}
{% set sectionPriority = testimonial.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2 data-type="animation">{{ heading }}</h2>
    </div>
  
  <figure class="card shadow stack">
    <blockquote class="flow">
      {% for content in testimonial.content %}
        <p>{{ content }}</p>
      {% endfor %}
    </blockquote>
    <figcaption class="cluster">
      {% image url, alt, sizes, loading, class %}
      <div>
        <p class="name">{{ testimonial.person }}</p>
        <p>{{ testimonial.designation }}, {{ testimonial.organisation }}</p>
      </div>
    </figcaption>
  </figure>
</article>
