{% set heading = videos.heading %}

{% set sectionUrl = "./src/images/" + videos.sectionImage.url %}
{% set sectionAlt = videos.sectionImage.alt %}
{% set sectionSizes = videos.sectionImage.sizes %}
{% set sectionLoading = videos.sectionImage.loading %}
{% set sectionClass = videos.sectionImage.class %}
{% set sectionPriority = videos.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2 data-type="animation">{{ heading }}</h2>
  </div>
  <ul class="videos-list grid disclosure-widget" id="videos-list" role="list">
    {% for video in videos.content %}
      <li class="video-card">
        <lite-youtube
          videoid={{ video.id }}
          videotitle={{ video.title | dump | safe }}
          nocookie="true"
          {% if env.eleventy == "production" %}
            autoload
          {% endif %}>
          <noscript>
            View <a href="https://www.youtube.com/watch?v={{ video.id }}">{{ video.title | dump | safe }}</a> video on Youtube
          </noscript>
        </lite-youtube>
        <p aria-hidden="true">{{ video.title }}</p>
      </li>
    {% endfor %}
  </ul>
  <button class="view-all" aria-expanded="false" aria-controls="videos-list">
    View more <span class="vh">items in {{ heading }}</span>
  </button>
</article>