{% set heading = videos.heading %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading">
    <h2>{{ heading }}</h2>
  </div>
  <ul class="videos-list grid" role="list">
    {% for video in videos.content %}
      <li class="video-card shadow">
        <lite-youtube
          videoid={{ video.id }}
          videotitle={{ video.title | dump | safe }}
          nocookie="true"
          {% if env.eleventy == "production" %}
            autoload
          {% endif %}>
          <noscript>
            View {{ video.title | dump | safe }} video on <a href="https://www.youtube.com/watch?v={{ video.id }}">Youtube</a>
          </noscript>
        </lite-youtube>
        <p aria-hidden="true">{{ video.title }}</p>
      </li>
    {% endfor %}
  </ul>
</article>