{% set heading = about.heading %}

{% set sectionUrl = "./src/images/" + about.sectionImage.url %}
{% set sectionAlt = about.sectionImage.alt %}
{% set sectionSizes = about.sectionImage.sizes %}
{% set sectionLoading = about.sectionImage.loading %}
{% set sectionClass = about.sectionImage.class %}
{% set sectionPriority = about.sectionImage.priority %}

{% set url = "./src/images/" + about.imageUrl %}
{% set alt = about.imageAlt %}
{% set sizes = about.imageSizes %}
{% set loading = about.imageLoading %}
{% set class = about.imageClass %}
{% set priority = about.imagePriority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2>{{ heading }}</h2>
  </div>
  <div class="intro-list grid">
    <div class="card shadow flow">
      {% for content in about.content %}
      <p>{{ content }}</p>
      {% endfor %}
    </div>
    {% image url, alt, sizes, loading, class %}
  </div>
</article>