{% set heading = why.heading %}

{% set sectionUrl = "./src/images/" + why.sectionImage.url %}
{% set sectionAlt = why.sectionImage.alt %}
{% set sectionSizes = why.sectionImage.sizes %}
{% set sectionLoading = why.sectionImage.loading %}
{% set sectionClass = why.sectionImage.class %}
{% set sectionPriority = why.sectionImage.priority %}

<article class="flow wrapper" id={{ heading | slugify }}>
  <div class="article-heading flow">
    {% image sectionUrl, sectionAlt, sectionSizes, sectionLoading, sectionClass %}
    <h2>{{ heading }}</h2>
  </div>
  <ul class="why-list grid disclosure-widget" id="why-list" role="list">
    {% for content in why.content %}
      <li class="card"><p>{{ content | safe }}</p></li>
    {% endfor %}
  </ul>
  <button class="view-all" aria-expanded="false" aria-controls="why-list">
    View More <span class="vh">items in {{ heading }}</span>
  </button>
</article>